h1 {
  font-weight: bold;
  text-align: center;
}
.link {
  color: cornflowerblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}
